asgiref==3.2.10
autopep8==1.5.4
colorama==0.4.3
Django==3.1.2
image==1.5.32
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==7.2.0
pycodestyle==2.6.0
pytz==2020.1
qrcode==6.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
